@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --color-black: #333333;
    --color-primary: #6d9f71;
    --color-primary-dark: #58805b;
    --color-light: #f9f6f0;
    --color-dark: oklch(37.2% 0.044 257.287);
    --color-dark-2: oklch(27.9% 0.041 260.031);
    --color-danger: red;
}

.container {
    @apply mx-auto px-4 sm:px-6 lg:px-8 max-w-6xl h-full;
}

p {
    @apply text-base text-slate-500 dark:text-slate-200;
}

button,
a {
    @apply cursor-pointer;
}

.h1 {
    @apply capitalize text-4xl font-bold;
}

.h2 {
    @apply capitalize text-3xl font-semibold;
}

.layer {
    @apply fixed inset-0 bg-none z-40;
}

.link {
    @apply text-primary hover:text-primary-dark hover:underline transition-all text-sm;
}

.btn {
    @apply px-6 py-2 text-sm font-semibold block text-center rounded-lg bg-primary hover:bg-primary-dark transition-all text-white disabled:bg-slate-400 disabled:cursor-wait;
}

.badge {
    @apply first-letter:uppercase text-xs font-semibold text-white mr-1 bg-primary hover:bg-primary-dark transition-all rounded-full px-2 py-1;
}

.dark {
    --vs-controls-color: var(--color-primary);
    --vs-border-color: #aaaaaa;

    --vs-dropdown-bg: var(--color-dark-2);
    --vs-dropdown-color: var(--color-primary);
    --vs-dropdown-option-color: var(--color-primary);

    --vs-selected-bg: var(--color-dark-2);
    --vs-selected-color: #eeeeee;

    --vs-search-input-color: #eeeeee;

    --vs-dropdown-option--active-bg: var(--color-primary);
    --vs-dropdown-option--active-color: #eeeeee;
}
